<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row"></div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">Update Company</div>
        <div class="card-body">
          <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-name"
                    >Company Name</label
                  >
                  <input
                    type="text"
                    id="input-name"
                    formControlName="name"
                    class="form-control form-control-alternative"
                    placeholder="Company Name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  />
                  <div
                    *ngIf="submitted && f.name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.name.errors.required">
                      Company is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-PhoneNumber"
                    >Phone Number</label
                  >
                  <input
                    type="text"
                    id="input-PhoneNumber"
                    formControlName="PhoneNumber"
                    class="form-control form-control-alternative"
                    placeholder="Phone Number"
                    [ngClass]="{
                      'is-invalid': submitted && f.PhoneNumber.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.PhoneNumber.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.PhoneNumber.errors.required">
                      Phone Number is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-Email"
                    >Email</label
                  >
                  <input
                    type="text"
                    id="input-Email"
                    formControlName="email"
                    class="form-control form-control-alternative"
                    placeholder="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  />
                  <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-Address"
                    >Address</label
                  >
                  <textarea
                    type="text"
                    id="input-Address"
                    formControlName="Address"
                    class="form-control form-control-alternative"
                    placeholder="Address"
                  ></textarea>
                </div>
              </div>
            </div>
            <button class="btn btn-warning">Update Company</button>
          </form>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>
