<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row"></div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <button class="btn btn-primary" (click)="triggerModal(modalData)">
            Add New Product
          </button>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Sr.</th>
                <th scope="col">Product Name</th>
                <th scope="col">Short Name</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let c of Cities; let i = index">
                <td>
                    {{i}}
                  </td>
                  <td>
                    {{c.name}}
                  </td>
                  <td>
                    <span class="delete" (click)="removeCity(c._id)">
                      <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </span>
                  </td>
                </tr> 
              </tr> -->
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)"
                  >2 <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Product</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label" for="input-product"
              >Product</label
            >
            <input
              type="text"
              id="input-product"
              formControlName="name"
              class="form-control form-control-alternative"
              placeholder="Product Name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Product is required</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label" for="input-shortName"
              >Short Name</label
            >
            <input
              type="text"
              id="input-product"
              formControlName="shortName"
              class="form-control form-control-alternative"
              placeholder="Short Name"
            />
          </div>
        </div>
      </div>
      <button class="btn btn-warning">Add Product</button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
