<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row"></div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <button class="btn btn-primary" (click)="triggerModal(modalData)">
            Add New Customer
          </button>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Sr.</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Short Name</th>
                <th scope="col">Contact Person</th>
                <th scope="col">Contact Person Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cus of Customers; let i = index">
                <td>
                  {{ i }}
                </td>
                <td>
                  {{ cus.Name }}
                </td>
                <td>
                  {{ cus.ShortName }}
                </td>
                <td>
                  {{ cus.ContactPerson }}
                </td>
                <td>
                  {{ cus.ContactPersonPhoneNumber }}
                </td>
                <td>
                  {{ cus.Email }}
                </td>
                <td>
                  <span class="delete" (click)="removeCity(c._id)">
                    <button type="button" class="btn btn-danger btn-sm">
                      Delete
                    </button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)"
                  >2 <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Customer</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-name">Name</label>
            <input
              type="text"
              id="input-name"
              formControlName="Name"
              class="form-control form-control-alternative"
              placeholder="Customer Name"
              [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
            />
            <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
              <div *ngIf="f.Name.errors.required">Customer is required</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-name"
              >Customer Name</label
            >
            <input
              type="text"
              id="input-name"
              formControlName="ShortName"
              class="form-control form-control-alternative"
              placeholder="Short Name"
              [ngClass]="{ 'is-invalid': submitted && f.ShortName.errors }"
            />
            <div
              *ngIf="submitted && f.ShortName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.ShortName.errors.required">
                Customer Short Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-PhoneNumber"
              >Contact Person</label
            >
            <input
              type="text"
              id="input-PhoneNumber"
              formControlName="ContactPerson"
              class="form-control form-control-alternative"
              placeholder="Contact Person"
              [ngClass]="{ 'is-invalid': submitted && f.ContactPerson.errors }"
            />
            <div
              *ngIf="submitted && f.ContactPerson.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.ContactPerson.errors.required">
                Contact Persion is required
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-ContactPhoneNumber"
              >Contact Person Phone Number</label
            >
            <input
              type="text"
              id="input-ContactPhoneNumber"
              formControlName="ContactPersonPhoneNumber"
              class="form-control form-control-alternative"
              placeholder="Contact Person Phone Number"
              [ngClass]="{
                'is-invalid': submitted && f.ContactPersonPhoneNumber.errors
              }"
            />
            <div
              *ngIf="submitted && f.ContactPersonPhoneNumber.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.ContactPersonPhoneNumber.errors.required">
                Contact Persion Phone Number is required
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-Email">Email</label>
            <input
              type="text"
              id="input-Email"
              formControlName="Email"
              class="form-control form-control-alternative"
              placeholder="Email"
              [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"
            />
            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
              <div *ngIf="f.Email.errors.required">Email is required</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-Email">City</label>
            <select
              class="custom-select"
              (change)="changeCity($event)"
              formControlName="cityId"
              [ngClass]="{ 'is-invalid': submitted && f.cityId.errors }"
            >
              <option value="">Choose your city</option>
              <option *ngFor="let city of Cities" value="{{ city._id }}">
                {{ city.name }}
              </option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="submitted && f.cityName.errors"
            >
              <div *ngIf="f.cityName.errors.required">City is required</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-control-label" for="input-Address"
              >Address</label
            >
            <textarea
              type="text"
              id="input-Address"
              formControlName="Address"
              class="form-control form-control-alternative"
              placeholder="Address"
            ></textarea>
          </div>
        </div>
      </div>
      <button class="btn btn-warning">Add Customer</button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
